:root {
  --font-family-title: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  --font-family-main: 'Courier New', Courier, monospace;
  --background-light-hf: aqua;
  --background-light: antiquewhite;
  --outline-color: navy;
}

body {
  background-color: var(--background-light);
  min-height: 100vh;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  grid-template-areas:
    'header header'
    'filter main'
    'footer footer';
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-light-hf);
  flex-wrap: wrap;
}

.main {
  grid-area: main;
  font-family: var(--font-family-main);
}

#logo-text {
  font-size: clamp(1rem, 1rem + 2vw, 3rem);
  font-family: var(--font-family-title);
}

#footer-text {
  font-size: clamp(0.5rem, 1rem + 2vw, 1.5rem);
  font-family: var(--font-family-title);
}

h1 {
  font-size: clamp(2rem, 1rem + 7vw, 5rem);
  text-align: center;
}

.filter-area {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
  border-right: 1px solid grey;
}

.filter-label {
  font-size: 1.3rem;
}

.filter {
  background-color: var(--background-light-hf);
  cursor: pointer;
  min-width: calc(100%);
}

.search-container {
  position: relative;
}

.search {
  background-color: var(--background-light);
}

.search-icon {
  background: none;
	// color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.search::placeholder {
  color: black;
  opacity: 0.7;
}

.filter, .search {
  font-family: var(--font-family-title);
  font-size: 1.2rem;
  border-radius: 0.3em;
  padding: 0.5em 1.2em;
  border: none;  
}

/*grid layout for the list and list items*/
#animals-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;
}

.empty-state {
  font-size: 3rem;
  margin: auto;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item-title {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}

#animals-list button {
    border: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    overflow: hidden;
}

.animal-img {
  aspect-ratio: 4/3;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  transition: scale 250ms ease-in-out;
}

.animal-btn:hover img, .animal-btn:focus img{
  scale: 1.1;
}

/*Narrow devices < 1000px*/
@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 10rem 1fr 5rem;
    grid-template-areas:
      'header'
      'filter'
      'main'
      'footer';
  }

  .filter-area {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid grey;
    border-right: none;
  }
}

/*General*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

*:focus-visible {
  outline-offset: 2px;
  outline-color: var(--outline-color);
}

/*
RESET
*/ 

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input, label {
  display: block;
}

label {
  margin-bottom: 0.3em;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    /* transition: none !important;
    animation: none !important; */
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
