
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --font-family: 'Questrial', sans-serif;
  --background-accent: rgb(134, 230, 230);
  --background: rgb(228, 236, 234);
  --color: rgb(40, 40, 40);
  --outline-color: rgb(23, 23, 66);
}

.darkmode {
  --background-accent: rgb(11, 11, 59);
  --background: rgb(49, 53, 90);
  --color: rgb(184, 188, 211);
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--color);
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.1rem;
}

/*Dark mode Toggle*/
i[aria-hidden=true] {
  display: none;
}

.fa-moon, .fa-sun {
  background-color: transparent;
  color: var(--color);
}

#dark-mode-toggle {
  background-color: transparent;
  position: absolute;
  top: 1em;
  right: 1em;
}

.container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  grid-template-areas:
    'header header'
    'filter main'
    'footer footer';
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-accent);
  flex-wrap: wrap;
  position: relative;
}

#logo-text {
  font-size: clamp(1rem, 1rem + 2vw, 3rem);
}

#footer-text {
  font-size: clamp(0.5rem, 1rem + 2vw, 1.5rem);
}

/*SEARCH*/
.search-container {
  position: relative;
}

#search-results-list {
  position: absolute;
  background-color: var(--background-accent);
  border: 1px solid var(--color);
  z-index: 1;
  cursor: pointer;
  width: 100%;
  margin-top: 2px;
  border-radius: 0.3em;
  box-shadow: var(--color) 0px 5px 15px;
}

.search-results-list-item {
  padding: 0.2em 1em;
}

.search-results-list-item:hover {
  background-color: var(--background);
}

.hidden-results {
  display: none;
}

.search {
  background-color: var(--background);
}

.search-icon {
  background: none;
	padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.search::placeholder {
  color: var(--color);
}

/*FILTER*/
.filter-area {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
  border-right: 1px solid var(--color);
}

.filter-label {
  font-size: 1.3rem;
}

.filter {
  background-color: var(--background-accent);
  min-width: calc(100%);
}

.filter, .search {
  font-size: 1.2rem;
  padding: 0.5em 1.2em;
}

/*MAIN*/
.main {
  grid-area: main;
}

h1 {
  font-size: clamp(2rem, 1rem + 7vw, 5rem);
  text-align: center;
}

/*grid layout for the list and list items*/
#animals-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;
    margin: 2em 0;
}

.empty-state {
  font-size: 3rem;
  margin: auto;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.list-item-title {
  display: flex;
  align-items: center;
  gap: 1em;
}

#animals-list button {
    border: 0;
    padding: 0;
    box-shadow: var(--color) 0px 5px 15px;
    overflow: hidden;
}

.animal-img {
  aspect-ratio: 4/3;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  transition: scale 250ms ease-in-out;
}

.animal-btn:hover img, .animal-btn:focus img{
  scale: 1.1;
}

/*Narrow devices < 1000px*/
@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 10rem 1fr 5rem;
    grid-template-areas:
      'header'
      'filter'
      'main'
      'footer';
  }

  .header, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .filter-area {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid var(--color);
    border-right: none;
  }
}

/*General*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

*:focus-visible {
  outline-offset: 2px;
  outline-color: var(--outline-color);
}

/*
RESET
*/ 

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input, label {
  display: block;
}

label {
  margin-bottom: 0.3em;
}

button, select, input {
  border: none;
  border-radius: 0.3em;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

button, select {
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    /* transition: none !important;
    animation: none !important; */
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
